@model CommentVM;
@{
    ViewData["Title"] = "SingleImage";
}


<main>
    <h1 class="post-obj-title">@ViewBag.ImagePost.Title</h1>
    <img src="@Url.Content(ViewBag.ImagePost.Path)" alt="Post Image" class="post-obj-img">
    <div class="single-post-obj-top">
        <h5 class="poster-name">@ViewBag.ImagePost.PosterName</h5>
        <img src="https://icones.pro/wp-content/uploads/2021/04/icone-noire-noir.png" alt="Like Button" class="post-like-button">
    </div>
    <div class="post-obj-bottom">
        <h6 class="post-description">@ViewBag.ImagePost.Description</h6>
    </div>
    <div class="post-comments">
        <h3>Comments</h3>
        <form asp-action="SingleImage" class="post-add-comment">
            <textarea placeholder="Comment" asp-for="Description"></textarea>
            <input type="hidden" asp-for="PostId" value="@ViewBag.ImagePost.PostId" />
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
        @if (ViewBag.ImagePost.GetComments() != null)
        {
            @foreach (ImageComment comment in ViewBag.ImagePost.GetComments())
            {
                <div class="post-comment">
                    <h3 class="commenter-name">@comment.Commenter.ScreenName</h3>
                    <p class="comment-content">@comment.Description</p>
                </div>
            }
        }
    </div>
</main>
