
@model CS296N_Term_Project.Models.ViewModels.NewPostVM

@{
    ViewData["Title"] = "Upload";
}
<form enctype="multipart/form-data" method="post">
    <dl>
        <input type="text" asp-for="@Model.imagePost.Title" />
        <textarea placeholder="Description" asp-for="@Model.imagePost.Description"></textarea>
        <dt>
            <label asp-for="@Model.Image.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="@Model.Image.FormFile" type="file" />
            <span asp-validation-for="@Model.Image.FormFile"></span>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
</form>
